@{
    ViewData["Title"] = "Privacy Policy";
}
<body>
    <div class="form-bg">
        <h1>Transportation Company</h1>
        <p>
            A transportation company is a business that transports freight from one location to another which is a key in the value chain in manufacturing. As time passes on in the industry the distance between production and consumption (delivery) has been increasing every year which makes the demand for transport continue to grow and resulting in driver shortages.

            The entire process of transporting products from the producer to the consumer which includes storage, transportation, warehousing, handling, packaging, and the exchange of information is called logistics.
        </p>
    </div>
</body>
