<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TRM.styles.css" asp-append-version="true" />

</head>
<body class="layout">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="HomeView"><img class="icon" src="~/images/V-Icon.png" /><h1 class="icon-title">Services</h1></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse" id="items">
                <ul class="navbar-nav flex-grow-1 ">
                    <li class="nav-item ">
                        <button class="nav-btn"><a class="nav-link navigation" style="color:white;font-weight:bold;" onMouseOver="this.style.color='#000000'" onmouseout="this.style.color='#FFFFFF'" asp-area="" asp-controller="Home" asp-action="HomeView">Home</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-btn"><a class="nav-link navigation" style="color:white;font-weight:bold" onMouseOver="this.style.color='#000000'" onmouseout="this.style.color='#FFFFFF'" asp-area="" asp-controller="Home" asp-action="Privacy">About Us</a></button>
                    </li>

                </ul>

            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
 
</body>
</html>
